html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Reset Css */
body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background-color: white;
}
/*  */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35);
  margin-bottom: 20px;
}
.text {
  line-height: calc(30 / 16);
}

/* heading chung */

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* box chung */
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}
.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
}
.button--primary {
  font-weight: 700;
  background-color: #f53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
  color: white;
  background-color: #f53838;
  box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
}

/* nút Dùng Chung */

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0b132a;
}
.header-signup {
  padding: 13px 45px;
  border-radius: 100rem;
  color: #f53838;
  border: 1px solid;
  font-weight: 500;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  display: inline-block;
}
.menu-link:hover {
  color: #f53838;
}

/* Hero container */
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-image {
}

.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: calc(70 / 50);
  color: #0b132a;
}
.hero-desc {
  margin-bottom: 50px;
}
/* Heroo */

.intro {
  margin-bottom: 95px;
}
.intro-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}

.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
  font-size: 20px;
}
.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30 / 25);
}
.intro-text {
  line-height: calc(30 / 20);
}
/*End Intro */

/* Feature */
.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style-type: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 21px;
  font-size: 14px;
}
/* end feature */

/* Plan */

.plan {
  padding: 80px 0 30px;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.plan-header {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 176px;
  margin-left: 50px;
}
.plan-item {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 80px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(30 / 14);
}
.plan-details {
  margin-bottom: 50px;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: auto;
}
.plan-item:hover {
  border-color: #f53838;
  cursor: pointer;
}
/* end Plan */

/* NetWOrd */
.network-heading {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.network-image {
  margin-top: 155px;
}
.text-medium {
  font-weight: 500;
}
/* End NetWord */

.partner {
  margin-bottom: 50px;
}
.partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 60px;
  /* background-color: #f53838; */
}

/* end partener */

.customer .boxed {
  margin-bottom: 60px;
}
.customer .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
}
.customer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50;
}
.customer-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  margin: 0 25px;
}
.customer-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 176%;
}

.customer-name,
.customer-address {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
/* End Customer */

/* Slick */
.slick-track {
  margin-top: 60px;
}
.slick-track .container {
  display: flex;
  justify-content: space-between;
  
}
.slick-arrow {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.slick-prev {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  border: 1px solid #f53838;
  background-color: transparent;
  right: 80px;
}
.slick-next {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background-color: #f53838;
  right: 0;
  border-radius: 100rem;
}
.slick-next img {
  margin: auto;
}
.slick-prev img {
  margin: auto;
}

/* Sub */
.subscribe-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 58px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 370px;
}
/* end sub */

/* Footer */
.footer {
  padding-bottom: 100px;
  background-color: #f8f8f8;
  padding-top: 180px;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 126px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 30px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-links {
  list-style-type: none;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: inherit;
  line-height: calc(30 / 16);
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .copyright {
  color: #afb5c0;
}
